/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Silkscreen');

/* CSS */

html {
    font-family: 'Silkscreen';
    font-size: 16px; /* Setting the root font size to 16px */
    color: hsl(0, 100%, 100%);
}  

* {
    box-sizing: border-box;
    font-family: 'Silkscreen';
    margin: 0rem;
    padding: 0rem;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: hsl(219, 42%, 8%);
    height: 15vh;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 5rem;
}

header img {
    width: 30rem;
    height: min-content;
}

header ul {
    display: inline-flex;
    list-style-type: none;
    gap: 3rem;
    color: hsl(0, 0%, 70%);
}
header li:hover {
    color: hsl(0, 100%, 100%);
    cursor: pointer;
}

#main-screen {
    position: relative;
    background-color: hsl(215, 43%, 14%);
    /* Legacy Code
    background-image: url("data/stars-background.png");
    background-size: cover; 
    background-position: initial; */
    height: 75vh;
    display: flex;
    align-items: center;
}

#versus-box {
    position: absolute;
    background-image: url("data/background-spots.png");
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#player-icon img {
    width: 8rem;
    height: auto;
}

#versus-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#versus-icon img {
    width: 6rem;
    height: auto;
    text-align: center;
    padding-bottom: 0.5rem;
    transition: all 0.2s ease;
    cursor: pointer;
}
#versus-icon img:hover {
    width: 7rem;
}

#versus-icon p {
    width: 8rem;
    text-align: center;
    font-style: italic;
}

#computer-icon {
    width: 8rem;
    height: auto;
}

footer {
    background-color: hsl(219, 42%, 8%);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* New features */

/* Animations */
.fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease; 
}
.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
.fade-in {
opacity: 1;
}
.fade-out {
opacity: 0;
}

/* Stars background */
#stars {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(data/stars-background.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

/* Copyright */
.copy-message {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    /* Centers the message on the #main-screen; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* -- */
    width: 31.25rem;
    height: 18.375rem; 
    background-image: url("data/warning.png");
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}
.linkButton {
    cursor: pointer;
    margin-top: 38.99%;
    margin-left: 38%;
    width: 7.4rem;
    height: 1.45rem;
    padding-left: 0.07rem;
    padding-bottom: 0.2rem;
    border: none;
    border-radius: 20px;
    color: hsl(0, 100%, 100%);
    background-color: hsl(194, 100%, 50%);
}
.linkButton:active {
    color: hsl(194, 100%, 50%);
    background-color: hsl(0, 100%, 100%);
}
.exitButton {
    cursor: pointer;
    margin-top: 1%;
    margin-left: 92%;
    font-size: 1.35rem;
    width: 2rem;
    height: 2rem;
    padding-left: 0.07rem;
    padding-bottom: 0.2rem;
    border: none;
    border-radius: 8px;
    color: hsl(0, 100%, 100%);
    background-color: hsl(0, 100%, 50%);
}
.exitButton:active {
    color: hsl(0, 100%, 50%);
    background-color: hsl(0, 100%, 100%);
}

/* Between half a monitor and a monitor. */
@media only screen and (max-width: 900px) {
    header {
        background-color: hsl(219, 42%, 8%);
        height: 15vh;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

/* Less than half a monitor. */
@media only screen and (max-width: 680px) {
}